.jumbotron {
    background-image: url("../images/pizza.png");
    background-size: cover;
}

.display-4 {
    text-align: center;
    background-color: white;
}

.card-title {
    background-color: blue;
    color: white;
}

button {
    /*display: flex;*/
    /*justify-content: right;*/
    margin-left: auto;
    background-color: blue;
    color: white;
}

.cheese-sauce {
    background-color: blue;
    color: white;
}

/*
button2 {
    display: flex;
    align-content: flex-start;
}*/

